<h1 class="display-2 text-center mt-2 mb-4">Encontre um <i>doggo</i></h1>
<div class="container p-5 mt-2 bg-light border shadow-lg">
    <div class="row">
        <div class="col">
            <form>
                <div class="mb-3">
                    <label class="form-label" for="dog-breed">Raça do cachorro:</label>
                    <select class="form-select select2" name="dog-breed" id="dog-breed" name="dog-breed">
                        <option value=""></option>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="dog-name">Nome do cachorro:</label>
                    <input class="form-control" type="text" id="dog-name" name="dog-name">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="color">Escolha uma cor:</label><br>
                    <select class="form-select" id="color" name="color">
                        <option value="black" style="color: black;">Preto</option>
                        <option value="red" style="color: red;">Vermelho</option>
                        <option value="orange" style="color: orange;">Laranja</option>
                        <option value="yellow" style="color: yellow;">Amarelo</option>
                        <option value="green" style="color: green;">Verde</option>
                        <option value="blue" style="color: blue;">Azul</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="font">Escolha uma fonte:</label><br>
                    <select class="form-select" id="font" name="font">
                        <option value="roboto" style="font-family: 'Roboto';">Roboto</option>
                        <option value="anton" style="font-family: 'Anton';">Anton</option>
                        <option value="Rubik Bubbles" style="font-family: 'Rubik Bubbles';">Rubik Bubbles</option>
                        <option value="'Dancing Script" style="font-family: 'Dancing Script';">Dancing Script</option>
                        <option value="sevillana" style="font-family: 'Sevillana';">Sevillana</option>
                    </select>
                </div>
            </form>

            <div class="div mt-3">
                <button class="btn btn-success" id="btn-save">Salvar</button>
            </div>
        </div>
        <div class="col">
            <div class="text-center position-relative">
                <div id="loading">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <img src="" id="dog-image" width="512px" height="auto">
                <span class="fs-1 position-absolute top-50 start-50 translate-middle text-break"
                    id="dog-show-name"></span>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function (e) {
        const data = new Date();

        // Lista de raças disponível para imagem
        $.ajax({
            method: "POST",
            url: "/api/breeds/list",
            dataType: "json",
            success: function (response) {
                const breeds = response.breeds[0];
                breeds.forEach(e => {
                    $('#dog-breed').append(`<option value="${e}">${e}</option>`);
                });

                if (localStorage.getItem('breed') != null) {
                    const breed = localStorage.getItem('breed');
                    $("#dog-breed").val(breed);
                }

            }
        });

        // Altera a imagem com base na Api de cães
        $("#dog-breed").change(function () {
            const form = new FormData();
            form.append("dog-breed", $(this).val());

            const settings = {
                "url": "/api/breeds",
                "method": "POST",
                "processData": false,
                "contentType": false,
                "mimeType": "multipart/form-data",
                "data": form
            };

            $("#dog-image").hide()
            $("#dog-show-name").hide()

            $("#loading").show()

            $.ajax(settings)
                .done(function (response) {
                    res = $.parseJSON(response)
                    $("#dog-image").attr("src", res.message);
                })
                .done(() => {
                    $("#dog-image").show()
                    $("#dog-show-name").show()

                    $("#loading").hide()
                });
        });

        // Atualizar texto e opções do formulario
        $("form").change(function () {
            $("#dog-show-name").text($("#dog-name").val());
            $("#dog-show-name").css("font-family", $("#font").val());
            $("#dog-show-name").css("color", $("#color").val());
        });

        // Salva no local
        $("#btn-save").click(function () {
            const breed = $("#dog-breed").val();
            const urlImage = $("#dog-image").attr('src');
            const name = $("#dog-name").val();
            const font = $("#font").val();
            const color = $("#color").val();

            localStorage.setItem('breed', breed);
            localStorage.setItem('url', urlImage);
            localStorage.setItem('name', name);
            localStorage.setItem('font', font);
            localStorage.setItem('color', color);
            localStorage.setItem('data', `${data.toLocaleDateString()} - ${data.toLocaleTimeString()}`)

            alert("Salvo com sucesso!");
            return false;
        });

        if (localStorage.getItem('breed') != null) {
            const name = localStorage.getItem('name');
            const font = localStorage.getItem('font');
            const color = localStorage.getItem('color');
            const urlImage = localStorage.getItem('url');

            $("#dog-name").val(name);
            $("#dog-image").attr('src', urlImage);
            $("#font").val(font);
            $("#color").val(color);

            $("#dog-show-name").text(name);
            $("#dog-show-name").css("font-family", font);
            $("#dog-show-name").css("color", color);

            $("#loading").hide()
        }

        $('.select2').select2();

    });


</script>